<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>TeaHTTPHouseBackEnd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>viewTeas</display-name>
    <servlet-name>viewTeas</servlet-name>
    <servlet-class>servlets.Tea.ViewTeas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewTeas</servlet-name>
    <url-pattern>/viewTeas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addTea</display-name>
    <servlet-name>addTea</servlet-name>
    <servlet-class>servlets.Tea.AddTea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addTea</servlet-name>
    <url-pattern>/addTea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveTea</display-name>
    <servlet-name>RemoveTea</servlet-name>
    <servlet-class>servlets.Tea.RemoveTea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveTea</servlet-name>
    <url-pattern>/RemoveTea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTea</display-name>
    <servlet-name>UpdateTea</servlet-name>
    <servlet-class>servlets.Tea.UpdateTea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTea</servlet-name>
    <url-pattern>/UpdateTea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUser</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>servlets.User.addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewUsers</display-name>
    <servlet-name>viewUsers</servlet-name>
    <servlet-class>servlets.User.viewUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewUsers</servlet-name>
    <url-pattern>/viewUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeUser</display-name>
    <servlet-name>removeUser</servlet-name>
    <servlet-class>servlets.User.removeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeUser</servlet-name>
    <url-pattern>/removeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editUser</display-name>
    <servlet-name>editUser</servlet-name>
    <servlet-class>servlets.User.editUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editUser</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
</web-app>